/*.active{
    background-color:rgb(26, 230, 162) !important; 
    color:white;
}

button.loginRegisterHeading{
    background-color: rgb(221, 221, 221); 
    padding:0.6em 1.2em; 
    width:100%;
    border:none; 
    font-size:1.2em;
    outline:none;
}

.form_style{
    margin:auto;
} */
